doctype html
html
  head
    title IPerio - #{title}
    link(rel='stylesheet', href='/third-party/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/third-party/dynatable/jquery.dynatable.css')
    link(rel='stylesheet', href='/third-party/nvd3/nv.d3.min.css')
    link(rel='stylesheet', href='/css/iperio.css')
    if css_file
          link(rel="stylesheet",href="#{css_file}")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    include menu
    block content

    script(src='https://code.jquery.com/jquery.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')
    script(src='/third-party/dynatable/jquery.dynatable.js')
    script(src='/third-party/d3/d3.min.js')
    script(src='/third-party/nvd3/nv.d3.min.js')
    script(src='/third-party/spin/spin.min.js')
    script(src='/js/iperio.js')
    if js_file
      script(src='#{js_file}')

    script(type="text/javascript").
      $(document).ready(function () {
        iperio.#{js}();
      });
